/* sorry this is messy will arrange later! */

:root {
	--base-size: 10px;
	--light-grey: rgb(234, 234, 231);
}

body {
	overflow-x: hidden;
	background-color: var(--light-grey);
	font-family: monospace;
	font-size: var(--base-size);
}

.content {
    position: relative;
    display: inline-block;
    max-width: 100vw;
    overflow-x: hidden;
}

#ascii-art {
    font-family: monospace;
    font-size: 1vw;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: hidden;
    cursor: crosshair;
    transform-origin: top left;
    max-width: 100%;
    position: relative; 
	z-index: -10;
	opacity: 50%;
}

.item-container:first-child {
    position: absolute; 
    top: 5%;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 5px;
    border-radius: 3px;
	z-index: 1;
	cursor: pointer;
}

#txtfile, #picfile {
    width: 50px;
    height: 50px;
}


.item-container:nth-child(2) {
    position: absolute; 
    top: 20%;
    left: 30%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 5px;
    border-radius: 3px;
	z-index: 1;
	cursor: pointer;
}

figcaption {
    font-size: 0.9rem;
}

#fake-window-wrapper {
    display: none; 
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    flex-direction: column;
	cursor: pointer;
}

#fake-window {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute; 
	background: black;
	color: white;
}

#fake-window-header {
    background: black;
    padding: 5px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-window {
    cursor: pointer;
	padding: 0.5rem;
}

#fake-window-content {
    padding: 10px;
    background: white;
}

.window-header {
    background: #dddd;
    padding: 5px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
	color: black;
}

.window-header button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.window-content {
    padding: 10px;
    white-space: pre-wrap;
}

#fake-window-wrapper-image {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50%;
    padding: 0; 
    border-radius: 10px;
}

#fake-window-image {
    background-color: black;
    width: 100%;
    height: auto; 
    max-height: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #dddd;
    font-weight: bold;
}


#close-window-image {
    background: transparent;
    border: none;
    cursor: pointer;
}

.image-window-content {
    padding: 20px;
    width: 100%;
    height: auto;
}

.image-window-content img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}



@media (min-width: 600px){
	#ascii-art{
		transform: none;
	}
}